<div class="container">

<form [formGroup]='myForm' class="form-post" (ngSubmit)="submitPostForm()">
    <p>New Post</p>
    <label for="title" class="sr-only">Title</label>
    <input type="text" formControlName="title" placeholder="Title" class="form-control" required autofocus>

    <label for="content" class="sr-only">Content</label>
    <input type="text" formControlName="content" placeholder="Content" class="form-control" required>

    <label for="uploadedFile" class="sr-only">Image</label>
    <input type="file" (change)="onFileSelected($event)" formControlName="uploadedFile" class="form-control" required>

    <div id="post-errors" hidden></div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Post</button>
    
  </form>
</div>