<div class="container-header-profile">

    <div class="picture-column">
        <img src="assets\media\images\{{profileInfo.profilePhotoFileName}}" alt="Avatar">
    </div>

    <div class="details-column">
        <div class="username"> {{profileInfo.username}} </div>
        <div class="counters">            

            <div class="counter"><b>{{postCount}}</b> Posts</div>
            <div class="counter"><b>4</b> Following</div>            
        </div>        
        <div class="counters">
            
        </div>   
    </div>

</div>
<div class="dropdown-divider"></div>