<div class="container-header-profile">

    <div class="picture-column">
        <img src="assets\media\images\{{profileInfo.profilePhotoFileName}}" alt="Avatar">
    </div>

    <div class="details-column">
        <div class="username"> {{profileInfo.username}} </div>
        <!--<div *ngIf="userFollowing()">
            <button (click)="followUser(id)" style="float: right">unfollow</button>
            
        </div>

        <button (click)="followUser(id)" style="float: right"></button>-->
        <button [ngClass]="{'followup' : isFollow == true,
            'unfollow' : isFollow== false }" 
            (click)="onClick()" style="float: right">
            {{isFollow == true ? 'Unfollow' : (isFollow == false ? 'Follow' : '')}}
        </button>
        <div class="counters">            

            <div class="counter"><b>{{postCount}}</b> Posts</div>
            <div class="counter"><b>{{follows?follows.length:0}}</b><a routerLink="/following" > Following</a> </div>  

        </div>        
        <div class="counters">
            
        </div>   
    </div>

</div>
<div class="dropdown-divider"></div>



