<div class="container-header-profile">

    <div class="picture-column">
        <img src="assets\media\images\{{profileInfo.profilePhotoFileName}}" alt="Avatar">
    </div>

    <div class="details-column">
        <div class="username"> {{profileInfo.username}} </div>

        <button [ngClass]="{'followup' : isFollow == true,
        'unfollow' : isFollow== false }"  class="btn btn-outline-secondary"
        (click)="onClick()" style="float: right" *ngIf="profileId != user.id">
        {{isFollow == true ? 'Unfollow' : (isFollow == false ? 'Follow' : '')}}
    </button>

        <div class="counters"> 
            <div class="counter"><b>{{postCount}}</b> Posts</div>
            <div class="ounter-followers"><b>{{follows.length}}</b></div>
            <button class="button-link" (click)="showFollowers()">     
               Followers 
            </button>
        </div>       
    </div>

</div>
<div class="dropdown-divider"></div>
<app-follower-list [idUser]="profileInfo.id"  (closed)="closeFollowers()"  *ngIf="isShowFollowers"></app-follower-list>



