<!--<app-commentPage></app-commentPage>-->
<div class="item-container">


  <img src="assets\media\images\{{post.photoFileName}}" (click)="showPostDetail()">
  <button *ngIf="isCurrentUser()" (click)="deleteImage(post)" class="button-delete"><i class="bi bi-trash delete-icon"></i></button>
  
  <!-- <ngx-imgclicker [options]="options"></ngx-imgclicker> -->
  <div hidden>
    <li>{{ post.id }}</li>
    <li>{{ post.title }}</li>
    <li>{{ post.content }}</li>
    <li>{{ post.date_posted }}</li>
    <li>{{ post.photoFileName }}</li>
    <!--<ngx-imgclicker [options]="options"></ngx-imgclicker>
        <button (click)="deleteImage(post)" style="float:right" >Delete</button>-->
  </div>
  <div>
    <!-- <button (click)="deleteImage(post)" style="float:right" class="button button1">Delete</button>
    <a routerLink="/comment"><button (click)="commentPage()" class="button button1"
        style="float:left">Comments</button></a> --> 
  </div>
</div>


<app-post-detail [post]="post" *ngIf="isPostDetail" (closed)="hidePostDetail()"></app-post-detail>

