<div> 
  <ul class="list-group">
    <li
    *ngFor="let comment of displaycomments"
    class="list-group-item">
     <b>{{comment.commenter}}</b> {{ comment.content }}
    <div>

      <button *ngIf="isCurrentUser(comment.commenter_id)" class="button-delete" (click)="deleteComment(comment.content)"><i class="bi bi-trash"></i></button>     
    </div>
  </li>
  </ul>
  <app-like  [postid]="post.id"></app-like>

  <textarea  placeholder="Add a comment ..." class="new-comment" rows="4" style="position: relative;" [(ngModel)]="comment" ></textarea><br>
  <button (click)="uploadComment()" style="float:left" class="button button1">Post</button>
  
 
</div>

